* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Start{
    text-align: center;
    padding:10px;
    background-color:#3A3B3C;
    margin-bottom: 5px;
    position:sticky;
    top: 0px;
    z-index:2;
}
.Join{
    padding:15px;
    background-color:#fa007d;
    color: white;
    position: fixed;
    bottom: 50%;
    right:5px;
    font-size: 20px;
}
a{
    padding-left: 20px;
    color: rgb(245, 7, 19);
}
.Heavy{
    margin-bottom:20px;
    width: 600px;
    height: auto;
    text-decoration: underline overline;
    background-color: rgb(155, 172, 5);
    border: 15px ridge #ff1226;
    text-indent:30px;
    padding: 5px;
    position:relative;
    z-index: 1;
 
}
.Prac{
    border-bottom: 10px dotted #9CDCFE;
    text-indent:100px;
    background-color:aquamarine;
    margin: 50px;
    padding-left: 30px #e60707 ;
}

